

    <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card-body text-center" >
                    <span>LISTADO DE PRODUCTOS
                    </span>
                    <button class="btn btn-success float-end" [routerLink]="['/dashboard/productos/crearproductos']" routerLinkActive="router-link-active" >NUEVO</button>
                    <button class="btn btn-primary float-end me-2" (click)="generarPDF()">Generar PDF</button>
                    <table class="table">
                        <thead>
                          <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Precio</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            @for (productos of productos; track $index) {

                            
                          <tr>
                              <th scope="row">{{productos.cve_producto}}</th>
                              <td>{{productos.nombre}}</td>
                              <td>{{productos.precio}}</td>
                              <td>
                                <i [routerLink]="['/dashboard/productos/editarproducto', productos.cve_producto]" class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i (click)="deleteProducto(productos.cve_producto)" class="fas fa-solid fa-trash text-danger" ></i>
                                
                              </td>
                            </tr>

                        }
                        </tbody>
                      </table>
                </div>
            </div>
        </div>






